In [27]:
import functions

print(functions.__file__)
%reload_ext autoreload
%autoreload 2
import importlib, functions
importlib.reload(functions)
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.stats.proportion import proportions_ztest
from functions import retidos, analisar_retencao,calcula_viabilidade

/Users/maceli/ifood_cs/code/functions.py

In [3]:
publico_janeiro_dezembro = pd.read_parquet("../dados/gold/publico_janeiro_dezembro.parquet")

In [18]:
publico_janeiro_dezembro['customer_id'].unique()

array(['ffffeda85b466b48195c356f8b97f21d0b23958d5815fcd401d62f0f4c426195',
       'ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0ce58f1b3897d5730a9',
       'ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e188ce3b83bd28cd680c',
       ...,
       '000022ced2f3aa411b66ac41167b272ae528c4acdffeebb88a59af9ceeba4717',
       '000021924bf8192f64a7cc17ce7c0bc511cba907308f80f3be7d81df1480e909',
       '000009e29b12d8c5b9c9579e21384320c2df3bd935f19e12402be6b07a099361'],
      dtype=object)

In [3]:
publico_janeiro_dezembro.head(10)

,customer_id,is_target,order_created_month,num_pedidos_mes,num_pedidos_hist,total_amount_mes,ticket_medio
0,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,12,1,2,167.0,167.000000
1,ffffeda85b466b48195c356f8b97f21d0b23958d5815fc...,target,1,1,2,167.0,167.000000
2,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,12,2,4,209.0,104.500000
3,ffffe95dc11472a22c46b6d5cdc5c14cf40e0c88a601e0...,target,1,2,4,209.0,104.500000
4,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,12,1,2,55.6,55.600000
5,ffffe50aaaed54af0eb463fcc6761b0e17a1d1cdd6b8e1...,control,1,1,2,55.6,55.600000
6,ffffdfae8a70b042a8f86763f59024f61899d6f30dec60...,target,12,1,2,22.8,22.800000
7,ffffdfae8a70b042a8f86763f59024f61899d6f30dec60...,target,1,1,2,22.8,22.800000
8,ffffd512938c9c6a7fc101b6bc044c2bc542505ceff2a5...,control,12,2,8,53.3,26.650000
9,ffffd512938c9c6a7fc101b6bc044c2bc542505ceff2a5...,control,1,6,8,187.4,31.233333

In [24]:
df_1,clientes_retidos_1=retidos(publico_janeiro_dezembro, mes0=12, mes1=1,pedidos=1)
print(clientes_retidos_1)

           retidos    base  taxa_retencao
is_target
control     143862  241457       0.595808
target      215348  312919       0.688191

In [29]:
df_2,clientes_retidos_2=retidos(publico_janeiro_dezembro, mes0=12, mes1=1,pedidos=2)
print(clientes_retidos_2)

           retidos    base  taxa_retencao
is_target
control     101395  241457       0.419930
target      151222  312919       0.483262

In [25]:
retencao_pedido_1=analisar_retencao(df_1)
retencao_pedido_1

{'target_retencao': 0.688191,
 'control_retencao': 0.595808,
 'lift_absoluto': 0.092383,
 'lift_relativo_percent': 15.51,
 'target_success': 215348,
 'target_total': 312919,
 'control_success': 143862,
 'control_total': 241457,
 'z_stat': 71.409089,
 'p_value': 0.0,
 'significativo': True}

In [30]:
retencao_pedido_2=analisar_retencao(df_2)
retencao_pedido_2

{'target_retencao': 0.483262,
 'control_retencao': 0.41993,
 'lift_absoluto': 0.063333,
 'lift_relativo_percent': 15.08,
 'target_success': 151222,
 'target_total': 312919,
 'control_success': 101395,
 'control_total': 241457,
 'z_stat': 46.946583,
 'p_value': 0.0,
 'significativo': True}

In [31]:
resultados, agg = calcula_viabilidade(
    publico_janeiro_dezembro,
    mes_campanha=12,
    mes_seguinte=1,
    coupon_value=10.0,   # ajuste aqui a premissa do valor do cupom
    margin_rate=0.12     # ajuste aqui a margem l√≠quida estimada
)

resultados

{'pedidos_por_cliente_dec_control': 2.131501675246524,
 'pedidos_por_cliente_dec_target': 2.300256615929362,
 'pedidos_por_cliente_jan_control': 3.4991323506877,
 'pedidos_por_cliente_jan_target': 3.88072951786245,
 'inc_pedidos_dec': 52806.627283532885,
 'inc_pedidos_jan': 119409.00395515552,
 'inc_pedidos_total': 172215.63123868842,
 'inc_gmv_dec': 2344360.755687304,
 'inc_gmv_jan': 5598145.936664362,
 'inc_gmv_total': 7942506.692351666,
 'margem_incremental': 953100.8030821999,
 'base_target_dec': 312919,
 'custo_campanha': 3129190.0,
 'lucro_incremental': -2176089.1969178,
 'roi': -0.6954161290678419,
 'coupon_value': 10.0,
 'margin_rate': 0.12}